html {
  --additional-color: #fff;
  --operand-color: #337cac;
  --border: .024rem solid #ccc;
  --border-radius: .2rem;
  --box-shadow-gradient: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
  inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
  inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
  0 1px 0 0 rgba(255, 255, 255, 0.15);
  --liner-gradient: linear-gradient(
          to bottom,
          transparent,
          transparent 50%,
          rgba(0, 0, 0, 0.04)
  );
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 40rem;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 8rem;
  background-color: #252525;
  color: var(--additional-color);
  text-align: right;
  padding-right: 1rem;
  padding-left: 1rem;
  display: block;
}

.operator, .number, .decimal, .all-clear {
  height: 6.5rem;
  background-color: var(--additional-color);
  border-radius: var(--border-radius);
  border: var(--border);
  font-size: 2rem;
  color: #333;
  background-image: var(--liner-gradient);
  box-shadow: var(--box-shadow-gradient);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  transition: background-color .2s ease;
}

.operator:hover, .number:hover, .decimal:hover, .all-clear:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.operator {
  color: var(--operand-color);
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: var(--additional-color);
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: var(--operand-color);
  color: var(--additional-color);
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
}
